####  Check if a number is even or odd

In [1]:
def even_odd(num):
    if num%2 == 0:
        return "even"
    else:
        return "odd"

In [4]:
even_odd(0)

'even'

#### Check if a number is positive or negative or zero

In [5]:
def pos_neg(num):
    if num == 0:
        return "zero"
    elif num > 0:
        return "positive"
    else:
        return "negative"

In [8]:
pos_neg(0)

'zero'

#### Check if a number is divisible by 3

In [54]:
def div_check(num):
    if num%3 == 0:
        return True
    else:
        return False

In [55]:
div_check(25)

False

#### Check if a number is divisible by 3 or 5

In [50]:
def div_checkor(num):
    if (num%5 == 0) or (num%3 == 0):
        return True
    else:
        return False

In [62]:
div_checkor(48)

True

#### Check if a number is divisible by 3 and 5

In [56]:
def div_checkand(num):
    if (num%5 == 0) and (num%3 == 0):
        return True
    else:
        return False

In [61]:
div_checkand(27)

False

#### Check whether a number is divisible by 3 or 5 but not divisible by 4

In [63]:
def div_check345(num):
    if ((num%5 == 0) or (num%3 == 0)) and (num%4 != 0):
        return True
    else:
        return False

In [67]:
div_check345(20)

False

#### Print the number of days in a year

In [71]:
def check_leap(n):
    if (n%4 == 0 and n%100 != 0) or  (n%4 == 0 and n%400 == 0):
        return True
    else:
        return False

In [80]:
def num_days(yr):
    if check_leap(yr) == True:
        return 366
    else:
        return 365

In [81]:
num_days(1976)

366

#### Print the number of days in a month

In [68]:
def days_month(mnth):
    d30 = ["September", "April", "June", "November"]
    d31 = ["Januray", "March", "May", "July", "October", "December"]
    if mnth in d30:
        days = 30
    elif mnth in d31:
        days = 31
    else:
        days =28
    return days

In [70]:
days_month("February")

28

#### Check number of days in a month according to leap year

In [85]:
def days_month_ly(mnth, yr):
    d30 = ["September", "April", "June", "November"]
    d31 = ["Januray", "March", "May", "July", "October", "December"]
    if mnth in d30:
        days = 30
    elif mnth in d31:
        days = 31
    else:
        if check_leap(yr) == True:
            days = 29
        else:
            days = 28
    return days

In [87]:
days_month_ly("February", 1900)

28

#### Is a number within a given range?

In [ ]:
def num_range(n):

#### Convert seconds to HH:MM:SS

In [106]:
def time_con():

    h = sec//60**2
    r1 = sec%60**2

    if r1!= 0:
        m = r1//60
        s = (r1%60)//1

    else:
        m = 0
        s = 0

    return (h,"hr :",m,"min :",s, "sec")

In [112]:
time_con(3672)

(1, 'hr :', 1, 'min :', 12, 'sec')

#### Convert HH:MM:SS to seconds

In [127]:
def time_sec(h,m,s):
    if m>59 or s>59 :
        return "invalid input"
    
    sec = h * 60**2 + m * 60**1 + s * 60**0
    return sec

In [129]:
time_sec(23,21,58)

84118